# docker environment variables
.env

# mysql data
volumes/db/data/
volumes/db/migrations/
volumes/db/backup/data/

# certbot data
volumes/certbot/

# flask data
volumes/flask/

# general server data
logs/
backups/

# python cache and compiled files
__pycache__/
*.pyc
